.container {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    grid-template-areas:
        'header header header'
        'left-sidebar main right-sidebar'
        'footer footer footer ';
}

.header {
    grid-area: header;
    height: 40px;
}

.left-sidebar {
    grid-area: left-sidebar;
    height: 700px;
}

.main {
    grid-area: main;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.footer {
    grid-area: footer;
    height: 40px;
}


@media screen and (max-width : 400px) {
    .container {
        grid-template-areas:
            'header'
            'left-sidebar'
            'main'
            'right-sidebar'
            'footer';
    }

}